.cartaoSingular {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30%;
    border-radius: 5px;
    height: 10em;
}

.numeroCartao {
    font-size: 20px;
    letter-spacing: 5px ;
}

.logoCartao {
    text-align: right;
    padding-right:10px;
}

.footerCartao{
    margin: 0;
    padding-left: 10px;
    text-align: left;
}
.footerCartao > p{
    margin: 0;
    /* padding-left: 10px;
    text-align: left; */
}